section:first-of-type {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 44.4%;
}

section:last-of-type {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 55.6%;
}

@media(min-width: 600px) {
    section:first-of-type {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 44.4%;
    }
    
    section:last-of-type {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 55.6%;
    }

}

@media(min-width: 767px) {
    
}